/* color palette for site
red: 		rgba(220, 31, 0, 1);
aqua: 		rgba(133, 213, 215, 1);
white: 		rgba(244, 245, 237, 1);
dark gray: 	rgba(51, 51, 51, 1);
light gray: rgba(102, 102, 102, 1)*/

/* shared styles */

html { overflow-y:scroll; }

body { background-color: rgba(255, 255, 255, 1) !important; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: rgba(51, 51, 51, 1 )!important;
}

header {
	background-color: rgba(255, 255, 255, 1);
	color: rgba(51, 51, 51, 1);
	text-align: center;
	padding: 1.5em 0;
	letter-spacing: 0.25em;
}

.left  { float: left; }
.right { float: right; }

.sidebar h2 { margin-top: -20px !important; }
.sidebar img { padding: 20px; border: 1px solid #DDDDDD; }

.margin-top { margin-top: 20px; }
.margin-bottom { margin-bottom: 20px; }

/* nav styles */

.nav-container {
	background-color: rgba(220, 31, 0, 1);
	margin-top: 20px;
	li a:hover {
	  background-color: rgba(220, 31, 0, 0.8) !important;
	}
}

.site-nav { background-color: rgba(220, 31, 0, 1) !important; }
.site-nav li a { background-color: rgba(220, 31, 0, 1) !important; }
.site-nav li a:hover { background-color: rgba(220, 31, 0, 0.5) !important; }

/* footer styles */

.footer-container {
  margin-top: 20px;
  padding: 20px;
}

.footer-container ul {
  list-style-type: none;
}

.footer-container img {
  height: 50px;
  width: 50px;
  margin-top: -10px;
}

.footer-container a {
  color: rgba(220, 31, 0, 1) !important;
}

.footer-container a:hover {
  color: rgba(136, 41, 26, 1) !important;
 }


.social li {
  float: left;
  margin-right: 20px;
}

/* index styles */

.content-box {
  width: 100%;
  margin-top: 30px;
}

.entry-title a {
  font-size: 1.5rem;
  color: rgba(51, 51, 51, 1) !important;
}

.panel {
	background-color: rgba(255, 255, 255, 1) !important;
	border: none !important;
}

/* blog styles */

.entry-content {

}

.entry-title a { background-color: rgba(255, 255, 255, 1) !important; }

.content { padding: 0 !important; }

.post-header {
	font-size: 2rem;
	background-color: rgba(255, 255, 255, 1) !important;
}

.post-header a {
	color: rgba(51, 51, 51, 1);
}

.post-header a:hover {
	color: rgba(51, 51, 51, 1);
}

.post-list {
	list-style-type: none;
}

.post-meta {
	color: rgba(51, 51, 51, 1);
	font-size: 0.8rem;
	margin-top: -35px;
	float: right;
}

.comments {
	background-color: rgba(245, 245, 245, 1);
	padding: 20px;
}

/* form styles */

.contact-message { height: 100px; }

.contact-form {
  margin-top: 30px;
}

input[type=submit] {
  padding: 11px 15px;
  background: rgba(220, 31, 0, 1);
  color: rgba(255, 255, 255, 0.9);
  border:0 none;
  cursor:pointer;
  font-size: 0.8rem;
}

input[type="submit"]:hover{
  background: rgba(190, 31, 0, 1);
  color: rgba(255, 255, 255, 1);
}

/* copywriting portfolio styles */

.copy-nav { list-style-type: none; }
.copy-nav li { float: left; margin-right: 20px; }
.copy-thumb { height: 77px; }
.full-text { font-size: 0.75rem; }
.img-border { border: 1px solid rgba(51, 51, 51, 0.1); }
