/* color palette for site
dark gray:    rgba(50, 50, 50, 1);
medium gray:  rgba(100, 100, 100, 1);
light gray:   rgba(200, 200, 200, 1);
red: 		      rgba(225, 25, 0, 1);
white: 		    rgba(255, 255, 255, 1);
*/

/* temp styles */
.with-border { border: 1px solid; }
/* shared styles */

body {
  background-color: rgba(255, 255, 255, 1) !important;
  font-family: 'Open Sans', sans-serif !important;
}
body a { color: rgba(225, 25, 0, 1); }
body a:hover {
  color: rgba(225, 25, 0, 1);
  text-decoration: underline;
}

html { overflow-y: scroll; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-family: 'Open Sans', sans-serif !important;
  color: rgba(50, 50, 50, 1 ) !important;
}

iframe { margin: 20px 0;}

ul { list-style-type: none; }

.left  { float: left; }
.right { float: right; }

.margin-bottom { margin-bottom: 20px; }
.margin-top { margin-top: 20px; }

.sidebar h2 { margin-top: -20px !important; }
.sidebar img {
  padding: 20px;
  border: 1px solid rgba(200, 200, 200, 1);
}

/* nav styles */

.top-bar {
  background-color: rgba(255, 255, 255, 1) !important;
  border-bottom: 1px solid rgba(225, 25, 0, 1);
  margin-top: 20px;
  margin-bottom: 20px!important;
  overflow: hidden!important;
  height: 60px!important;
}

.top-bar li a {
  background-color: rgba(255, 255, 255, 1) !important;
  color: rgba(50, 50, 50, 1) !important;
}
.top-bar a:hover {
  color: rgba(225, 25, 0, 1) !important;
  text-decoration: none!important;
}

.top-bar-section {
  letter-spacing: 0.25em;
  margin-top: 5px;
}
/* footer styles */

span.social-box {
  margin: 0 auto;
  display: block;
}
span.social-box i.social-inner {
  transition: color 0.5s;
  color: rgba(225, 25, 0, 1) !important;
}
span.social-box i.social-outer {
  transition: color 0.5s;
  color: rgba(255, 255, 255, 1);
}
span.social-box:hover i.social-inner { color: rgba(255, 255, 255, 1) !important; }
span.social-box:hover i.social-outer { color: rgba(225, 25, 0, 1) !important; }

.copyright {
  font-size: 0.75rem;
  margin-top: 11px;
}

.footer-container {
  border-top: 1px solid rgba(225, 25, 0, 1);
  height: 75px;
  margin: 20px 0;
}

.footer-container ul {
  margin-top: 10px;
  list-style-type: none;
}

/* index styles */

.content-box {
  width: 100%;
  margin-top: 5px;
}

.entry-title a {
  font-size: 1.5rem;
  color: rgba(50, 50, 50, 1) !important;
}

.panel {
	background-color: rgba(255, 255, 255, 1) !important;
	border: none !important;
}

/* blog styles */

blockquote {
  border-left: 2px solid rgba(200, 200, 200, 1) !important;
  color: rgba(50, 50, 50, 1) !important;
  font-size: 1.2rem;
  font-style: italic;
  letter-spacing: 0.05rem !important;
  line-height: 40px;
  margin-left: 20px;
  padding: 1rem !important;
}

blockquote:before {
  content: open-quote;
  font-size: 3rem;
  line-height: 0.5em;
  margin-right: 0.2em;
  vertical-align: -0.25em;
}
blockquote:after {
  content: close-quote;
  font-size: 3rem;
  line-height: 0.2em;
  margin-right: 0.25em;
  vertical-align: -0.3em;
}
blockquote p {
  display: inline;
}

.blog-content { border-right: 1px solid rgba(225, 25, 0, 1)};

.blog-content a {
  color: rgba(225, 25, 0, 1);
}
.blog-content a:hover {
  color: rgba(225, 25, 0, 1);
  text-decoration: underline;
}

.blog-excerpt { margin-bottom: 50px; }
.blog-sidebar {
  font-family: 'Raleway', sans-serif !important;

}
.blog-sidebar a {
  color: rgba(50, 50, 50, 1) !important;
  font-weight: bold;
}
.blog-sidebar a:hover{
  text-decoration: underline !important;
  color: rgba(225, 25, 0, 1) !important;
}
.blog-sidebar h2 {
  font-size: 1.8rem;
  font-weight: bold;
}
.blog-sidebar p { font-size: 0.85rem; }
.blog-sidebar ul { font-size: 0.85rem; }
.blog-sidebar li { margin-left: -10px; }

.circle {
  display: block;
  width: 100px;
  height: 100px;
  margin: 20px auto;
  border: 1px solid white;
  border-radius: 100px;
  background-size: contain;
}

.content { padding: 0 !important; }

.entry-title a { background-color: rgba(255, 255, 255, 1) !important; }

.pagination {
  text-align: center;
}

.previous { margin-right: 20px; }

.next { margin-left: 20px; }

.page_number { font-weight: bold;}

.post-header {
	font-size: 2rem;
  margin-top: -20px;
	background-color: rgba(255, 255, 255, 1) !important;
}
.post-header a { color: rgba(50, 50, 50, 1) !important; }
.post-header a:hover { text-decoration: underline; }

.post-link {
  transition: background-color 0.5s;
  background-color: rgba(225, 25, 0, 1);
  border: 1px solid rgba(225, 25, 0, 1);
  color: rgba(255, 255, 255, 1) !important;
  float: right;
  margin: 0 0 60px 0;
  padding: 10px;
}

.post-link:hover {
  background-color: rgba(255, 255, 255, 1) !important;
  text-decoration: none !important;
  color: rgba(225, 25, 0, 1) !important;
}

.post-meta {
	color: rgba(50, 50, 50, 1);
	font-size: 0.8rem;
	margin-top: -35px;
	float: right;
}

.recent-posts li { margin-bottom: 10px; }

.sharing {
  text-align: left;
}

.sharing-footer {
  text-align: center;
  padding-top: 20px;
}

.sharing-footer li {
  margin-right: 20px!important;
  margin-left: 0px!important;
}

.social-buttons li {
  margin-right: 30px;
  margin-left: -20px;
}

.social-buttons a { color: rgba(50, 50, 50, 1); }
.social-buttons li { display: inline-block; }

span.twitter i.sharing-inner {
  transition: color 0.5s;
  color: rgba(255, 255, 255, 1);
}

span.twitter i.sharing-outer {
  transition: color 0.5s;
  color: rgba(85, 172, 238, 1) !important;
}

span.twitter:hover i.sharing-inner { color: rgba(85, 172, 238, 1) !important; }
span.twitter:hover i.sharing-outer { color: rgba(255, 255, 255, 1) !important; }

span.facebook i.sharing-inner {
  transition: color 0.5s;
  color: rgba(255, 255, 255, 1);
}

span.facebook i.sharing-outer {
  transition: color 0.5s;
  color: rgba(59, 89, 152, 1) !important;
}

span.facebook:hover i.sharing-inner { color: rgba(59, 89, 152, 1) !important; }
span.facebook:hover i.sharing-outer { color: rgba(255, 255, 255, 1) !important; }

span.google-plus i.sharing-inner {
  transition: color 0.5s;
  color: rgba(255, 255, 255, 1);
}

span.google-plus i.sharing-outer {
  transition: color 0.5s;
  color: rgba(221, 75, 57, 1) !important;
}

span.google-plus:hover i.sharing-inner { color: rgba(221, 75, 57, 1) !important; }
span.google-plus:hover i.sharing-outer { color: rgba(255, 255, 255, 1) !important; }

span.email i.sharing-inner {
  transition: color 0.5s;
  color: rgba(255, 255, 255, 1);
}

span.email i.sharing-outer {
  transition: color 0.5s;
  color: rgba(50, 50, 50, 1) !important;
}

span.email:hover i.sharing-inner { color: rgba(50, 50, 50, 1) !important; }
span.email:hover i.sharing-outer { color: rgba(255, 255, 255, 1) !important; }

/* form styles */

.contact-message { height: 100px; }

.contact-form { margin-top: 30px; }

input[type=submit] {
  padding: 11px 15px;
  background: rgba(225, 25, 0, 1);
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(225, 25, 0, 1) !important;
  border: 0 none;
  cursor: pointer;
  font-size: 0.8rem;
}

input[type="submit"]:hover {
  transition: background-color 0.5s;
  background: rgba(255, 255, 255, 1);
  color: rgba(225, 25, 0, 1);
}

/* copywriting portfolio styles */

.bold { font-weight: bold; }
.copy-thumb {
  height: 77px;
  transition: border 0.5s;
  border: 2px solid rgba(200, 200, 200, 0.25);
}
.copy-thumb:hover {
  border: 2px solid rgba(225, 25, 0, 1);
}
.description-text { font-size: 0.75rem; }

/* resume styles */

.pdf-copy {
  padding-top: 10px;
}

.resume h3 {
  font-size: 1.8rem!important;
  line-height: 0.4!important;
  font-weight: bold!important;
  margin-bottom: 20px;
}

.resume-contact {
  float: right;
  margin-top: 30px;
}

.resume-header {
  border-bottom: 3px solid rgba(225, 25, 0, 1) !important;
  margin-bottom: 20px;
}

.resume-detail {
  border-left: 2px solid rgba(200, 200, 200, 1) !important;
  margin-bottom: 20px;
}

.resume-detail ul {
  list-style-type: disc!important;
}

.tagline {
  font-size: 125%;
}
