/* color palette for site
orange: #ff9900;
white: #ffffff;
dark gray: #333333;
light gray: #666666; */

header {
	background-color: #333333;
	color: #ffffff;
	text-align: center;
	padding: 1.5em 0;
	letter-spacing: 0.25em;
}

.social li a {
	font-size: 1.25rem !important;
	padding: 0 0.5rem !important;
}

.fa-twitter:hover { color: #ff9900; }
.fa-instagram:hover { color: #ff9900; }
.fa-envelope:hover { color: #ff9900; }