<div class="footer-container">
  <div class="row">
    <div class="small-12 large-centered columns">
      <hr />
      <ul class="left">
        <li>© 2015 Tyler Moore</a></li>
      </ul>

      <ul class="social right">
        <li><a href="https://twitter.com/illbzo1"><img src="/img/twitter.png"></a></li>
        <!--<li>LinkedIn</li>-->
      </ul>

	</div>
  </div>
</div>


<script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>