<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    {% if page.desc %}
    <meta name="description" content="{{ page.desc }}" />
    {% else %}
    <meta name="description" content="I’m a copywriter and fiction writer living in Indianapolis." />
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans|Raleway">
    <link rel="manifest" href="/manifest.json">
  </head>
