<div class="row">
<div class="small-12 large-centered columns">
  <nav id="nav-bar" class="top-bar" data-topbar role="navigation">

    <section class="top-bar-section">
    <!-- Right Nav Section -->
      <ul class="right">
        <li><a href="/first-drafts">FIRST DRAFTS</a></li>
        <li><a href="/now">NOW</a></li>
        <li><a href="/blog">BLOG</a></li>
        <li><a href="/contact">CONTACT</i></a></li>
      </ul>
    <!-- Left Nav Section-->
      <ul>
        <li>
          <a href="/index.html">HOME</a>

          </a>
        </li>
      </ul>
    </section>
  </nav>
</div>
</div>
