<div class="row">
<div class="small-12 large-centered columns">
  <nav id="nav-bar" class="top-bar" data-topbar role="navigation">

    <section class="top-bar-section">
    <!-- Right Nav Section -->
      <ul class="right">
        <li><a href="/writing">WRITING</a></li>
        <li><a href="/now">NOW</a></li>
        <li><a href="/blog">BLOG</a></li>
        <li><a href="/contact">CONTACT</i></a></li>
      </ul>
    <!-- Left Nav Section-->
      <ul>
        <li>
          <a id="logo" href="/index.html">
            <?xml version="1.0" encoding="UTF-8" standalone="no"?>
            <svg width="36px" height="36px" viewBox="0 0 145 131" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                <!-- Generator: Sketch 3.4.4 (17249) - http://www.bohemiancoding.com/sketch -->
                <title>Tyler Moore monomark</title>
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                    <path d="M0.759765625,0.337620522 L62.2314453,49.8970119 L62.2314453,74.5875906 L38.4814453,55.4814453 L37.3592226,130.5 L20.2314453,130.5 L20.2314453,40.5 L0.759765625,24.6792603 L0.759765625,0.337620522 Z M68.4814453,54.9358558 L83.7675781,67.2597656 L145,14.7242578 L145,130.5 L127.231445,130.5 L127.231445,55 L83.2314453,91.4814453 L68.4814453,79.6155235 L68.4814453,54.9358558 Z" fill="#323232" sketch:type="MSShapeGroup"></path>
                </g>
            </svg>
          </a>
        </li>
      </ul>
    </section>
  </nav>
</div>
</div>
