<div class="row">
<div class="small-12 large-centered columns">
  <nav id="nav-bar" class="top-bar" data-topbar role="navigation">

    <section class="top-bar-section">
    <!-- Right Nav Section -->
      <ul class="right">
        <li class="arrow_box"><a href="/work">MY WORK</a></li>
        <li class="arrow_box"><a href="/now">NOW</a></li>
        <li class="arrow_box"><a href="/blog">BLOG</a></li>
        <li class="arrow_box"><a href="/contact">CONTACT</i></a></li>
      </ul>
    <!-- Left Nav Section-->
      <ul>
        <li><a href="/index.html"><img src="/img/logo.png" class="logo"></a></li>
      </ul>
    </section>
  </nav>
</div>
</div>
