<div class="footer-container">
  <div class="row">
    <div class="small-12 large-centered columns">
      <ul>
        <li class="left">
          <span class="fa-stack fa-lg social-box">
            <a href="/resume/tyler-moore-resume.pdf">
              <i class="fa fa-circle fa-stack-2x social-outer"></i>
              <i class="fa fa-file-pdf-o fa-stack-1x social-inner"></i>
            </a>
          </span>
        </li>
        <li class="left pdf-copy">
          PDF version
        </li>
      </ul>
	  </div>
  </div>
</div>

<script src="js/vendor/jquery.js"></script>
<script src="js/sticky-footer.js"></script>
<script src="js/foundation.min.js"></script>
<script src="js/foundation/foundation.equalizer.js"></script>

<script>
  $(document).foundation();
</script>