---
layout: blog
title: Tyler Moore - Marketing, writing and technology blog
redirect_from: blog.html
desc: "I'm a writer and marketer, and I mostly blog about writing and marketing. I'm interested in productivity, technology, and learning. I hope you are, too!"
---

{% for post in paginator.posts %}

  <div class="large-12 columns">
    <div class="post-header">
      <h1><small id="small-header"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></small></h1>
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
    </div>

    <div id="content-panel" class="panel">
      {{ post.excerpt }}
      <a id="post-link" href="{{ post.url | prepend: site.baseurl }}">Read the full post</a>
    </div>
  </div>

{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      <i class="fa fa-arrow-circle-left"></i>
    </a>
  {% else %}
    <span class="previous">
      <i class="fa fa-arrow-circle-left"></i>
    </span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">
      <i class="fa fa-arrow-circle-right"></i>
    </a>
  {% else %}
    <span class="next ">
      <i class="fa fa-arrow-circle-right"></i>
    </span>
  {% endif %}
</div>

