---
layout: blog
---

{% for post in site.posts %}
  {% if post.categories contains 'other' %}
  <div class="large-12 columns">
    <div class="post-header">
      <h1><small id="small-header"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></small></h1>
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
    </div>

    <div id="content-panel" class="panel">
      {{ post.excerpt }}
        <a id="post-link" href="{{ post.url | prepend: site.baseurl }}">Read the full post</a>
        <span class="disqus-comment-count" data-disqus-url="{{ post.url | prepend: site.baseurl }}"></span>
    </div>
  </div>
  {% endif %}
{% endfor %}