  {% include head.html %}

  <body>

  {% include nav.html %}

    <div class="row">
      <div class="large-9 columns blog-content">
        {{ content }}
      </div>
      <div class="large-3 columns blog-sidebar">
        <h2><small>About this blog</small></h2>
        <p>
          I write about writing, copywriting, marketing, and books I've read that have had an impact on me.
        </p>
        <h2><small>Categories</small></h2>
        <ul>
          <li>
            <a href="/blog/reading.html">Reading</a>
          </li>
          <li>
            <a href="/blog/writing.html">Writing</a>
          </li>
        </ul>
        <h2><small>Subscribe via RSS</small></h2>
        <p>
          <span id="twitterBox" class="fa-stack fa-lg social-box">
            <a href="http://tylermoore.website/feed.xml">
            <i class="fa fa-circle fa-stack-2x social-outer"></i>
            <i class="fa fa-rss fa-stack-1x social-inner" title="rss"></i>
            </a>
          </span>
        </p>
      </div>
    </div>

    {% include footer.html %}

  </body>
</html>