  {% include head.html %}

  <body>

  {% include nav.html %}

    <div class="row">
      <div class="large-10 columns">
        {{ content }}
      </div>
      <div class="large-2 columns sidebar">
        <!--<p class="margin-top">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

      </div>
    </div>

    {% include footer.html %}
    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>

</html>
