  {% include head.html %}

  <body>

  {% include nav.html %}

    <div class="row">
      <div class="large-9 columns blog-content">
        {{ content }}
      </div>
      <div class="large-3 columns blog-sidebar">
        <img src="/img/tyler.jpg" class="circle">
        <p>
          My name is Tyler. I blog about writing, copywriting, marketing, and books I've read that have had an impact on me.
        </p>
        <hr />
        <h2><small>Categories</small></h2>
        <ul>
          <li>
            <a href="/blog/reading.html">Reading</a>
          </li>
          <li>
            <a href="/blog/writing.html">Writing</a>
          </li>
        </ul>
        <hr />
        <h2><small>Recent Posts</small></h2>
        <ul class="recent-posts">
          {% for post in site.posts limit:3  %}
            <li>
              <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              <br />
              <span>{{ post.date | date: "%b %-d, %Y" }}</span>
            </li>
          {% endfor %}
        </ul>
        <hr />
        <p>
          <span class="fa-stack fa-lg social-box">
            <a href="http://tylermoore.website/feed.xml">
            <i class="fa fa-circle fa-stack-2x social-outer"></i>
            <i class="fa fa-rss fa-stack-1x social-inner" title="rss"></i>
            </a>
          </span>
        </p>
      </div>
    </div>

    {% include footer.html %}

  </body>
</html>